* {
    box-sizing: border-box;
}

head{
    top: auto;
}
body{
    font-family: Arial,;
    margin: 0%;
    background-color: aquamarine;
    text-align: center;
}

.hide{
    display: none;
}

header{
    background-color: rgb(255, 248, 248);
    font-size: 30px;
    /* padding-top: 600px; */
    /* padding: 400px; */
    width: 100%;
    max-width: 600px;
    margin: 10px auto 0;
    /* Note - Marigin in this context seperares ho */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
main{
    background-color: black;
    width: 90%;
    max-width: 600px;
    margin: 10px auto 0;
    /* Marign will add to the difference beetween main and body */
    border-radius: 10px;
    padding: 10px; 
    /* Padding adds the black outline */
    /* border-radius: 4px;
    cursor: pointer; */
    display: flex;
}
section {
    background-color: rgb(18, 33, 177);
    font-size: 15px;
    /* Add font-size function */
    color: rgb(154, 78, 23);
    flex: 0 auto;
    /* Text Color */
    
}
section h1{
    font-size: 40px;
    /* Applies to "Question"1 font size */
    /* border-bottom: 30px, rgb(0, 51, 255); */
    padding-bottom: 1px;
    color: red;
    /* Space bettween first statement and second */
}
section h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    /* adding on the second line of the box */
}
/* .quiz-questions{
    background-color: hsl(0, 0%, 35%);
    border-radius: 5px;
    border-width: 1px; */
    /* box-shadow: rgba(17, 0, 0, 0.15) 0px 2px 8px 0px; */
    /* font-size: 12px;
    margin: 0 auto;
    max-width: 900px; */
    /* padding: 40px 40px; */
    /* Creates a box in the middle of question1 */
/* } */
/* .quiz-questions h1 {
    font-size: 300px;
    color: brown;
} */ 
/* all of this info did not impact the screen!!!!! */
.btn {
    background-color: blueviolet;
    color: rgb(99, 0, 0);
    font-size: 20px;
    width: 75%;
    cursor: pointer;
    padding: 10px;
    margin: 4px; 
}
.btn:hover:not([disabled]){
    background-color: black
}
.btn:disabled{
    cursor: no-drop;
}
#next-button{
    background-color: pink;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px;
    display: none;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: beige;
}
.timer {
    height: 0px;
    background: black;
    color: white;
}
.timer-text {
    padding: fill;
    padding: 60px;
}